In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
import pandas as pd

###  타자 Basic1  데이터의 url 지정후 web page로 이동

####  web 주소 불러오기

In [2]:
driver = webdriver.Chrome("chromedriver_83.exe")

In [3]:
url = "https://www.koreabaseball.com/Record/Team/Hitter/Basic1.aspx"
driver.get(url)

#### html 파싱

In [4]:
soup = BeautifulSoup(driver.page_source, 'lxml')

#### 테이블 헤더(thead) 정보 가져오기

In [5]:
thead1 = soup.find("div", id="cphContents_cphContents_cphContents_udpContent").find("thead")
th_list1 = thead1.find_all("th")

col_list1 = []
col_list1.append("연도")
for th in th_list1:
    
    a_tag = th.find("a")

    if a_tag == None:
        colName = th.text

    else:
        colName = a_tag.attrs["title"]

    col_list1.append(colName)

print(col_list1)

['연도', '순위', '팀명', '타율', '경기', '타석', '타수', '득점', '안타', '2루타', '3루타', '홈런', '루타', '타점', '희생번트', '희생플라이']

#### 테이블 내용 가져오기

In [6]:
tr_list = soup.find('div', class_='record_result').find_all('tr')

Defend_list = []
for tr in tr_list:
    td_list = tr.find_all('td')
    
    t = []
    for td in td_list:
        t.append(td.text)
        
    Defend_list.append(t)
print(Defend_list)

[[], ['1', 'KT', '0.304', '22', '882', '792', '135', '241', '43', '9', '21', '365', '127', '9', '12'], ['2', '두산', '0.300', '22', '889', '783', '136', '235', '42', '4', '23', '354', '126', '4', '16'], ['3', 'NC', '0.287', '22', '881', '766', '134', '220', '35', '2', '32', '355', '130', '10', '8'], ['4', 'LG', '0.284', '22', '847', '746', '129', '212', '43', '4', '26', '341', '123', '6', '5'], ['5', 'KIA', '0.275', '23', '914', '799', '109', '220', '41', '0', '21', '324', '104', '6', '8'], ['6', '키움', '0.268', '23', '905', '790', '128', '212', '43', '4', '23', '332', '117', '2', '8'], ['7', '롯데', '0.258', '22', '854', '761', '93', '196', '44', '0', '15', '285', '86', '1', '9'], ['8', '삼성', '0.250', '23', '867', '753', '117', '188', '44', '1', '20', '294', '111', '8', '12'], ['9', '한화', '0.246', '23', '843', '761', '82', '187', '34', '1', '15', '268', '79', '6', '3'], ['10', 'SK', '0.239', '22', '842', '748', '90', '179', '26', '6', '17', '268', '84', '7', '6'], ['합계', '0.271', '112', '8724', '7699', '1153', '2090', '395', '31', '213', '3186', '1087', '59', '87']]

In [7]:
## 전체 데이터를 담을 공간
defend_list_all = []

for i in range(2,21,1):
    
    year = 2000 + i
    year_btn = '//*[@id="cphContents_cphContents_cphContents_ddlSeason_ddlSeason"]/option['+str(i)+']'
   
    next_year = driver.find_element_by_xpath(year_btn)
    next_year.click()
    
    time.sleep(1)
    
    soup = BeautifulSoup(driver.page_source, 'lxml')
    
    ## 테이블 헤더 + 바디
    record_result = soup.find("div", class_="record_result")
    tr_list = record_result.find("tbody").find_all("tr")
    
    ## 1년치 데이터를 담을 공간
    defend_list = []
    for tr in tr_list:
        td_list = tr.find_all("td")
        
        t = []
        t.append(year)
        for td in td_list:
            t.append(td.text)
            
        defend_list.append(t)
        
    print(str(year) + "년도 데이터 수집 끗!")    
    
    ## 전체 데이터 공간에 1년치 데이터 추가 
    defend_list_all.extend(defend_list)

2002년도 데이터 수집 끗!
2003년도 데이터 수집 끗!
2004년도 데이터 수집 끗!
2005년도 데이터 수집 끗!
2006년도 데이터 수집 끗!
2007년도 데이터 수집 끗!
2008년도 데이터 수집 끗!
2009년도 데이터 수집 끗!
2010년도 데이터 수집 끗!
2011년도 데이터 수집 끗!
2012년도 데이터 수집 끗!
2013년도 데이터 수집 끗!
2014년도 데이터 수집 끗!
2015년도 데이터 수집 끗!
2016년도 데이터 수집 끗!
2017년도 데이터 수집 끗!
2018년도 데이터 수집 끗!
2019년도 데이터 수집 끗!
2020년도 데이터 수집 끗!

In [8]:
defend_df = pd.DataFrame(defend_list_all, columns=col_list1)
defend_df

,연도,순위,팀명,타율,경기,타석,타수,득점,안타,2루타,3루타,홈런,루타,타점,희생번트,희생플라이
0,2002,1,삼성,0.284,133,5304,4648,777,1321,266,16,191,2192,731,55,34
1,2002,2,SK,0.270,133,5090,4475,618,1207,204,27,158,1939,587,96,34
2,2002,3,KIA,0.269,133,5200,4575,643,1230,220,14,120,1838,611,45,35
3,2002,4,LG,0.261,133,5121,4492,583,1173,212,22,100,1729,541,93,37
4,2002,5,현대,0.261,133,5140,4444,658,1160,191,25,173,1920,643,99,34
5,2002,6,두산,0.261,133,5083,4498,587,1173,174,21,130,1779,556,47,46
6,2002,7,한화,0.256,133,5062,4491,603,1148,206,10,170,1884,570,52,22
7,2002,8,롯데,0.245,133,4986,4512,463,1105,206,19,85,1604,443,49,22
8,2003,1,현대,0.286,133,5313,4483,723,1280,208,15,175,2043,673,139,38
9,2003,2,삼성,0.284,133,5241,4564,769,1295,236,14,213,2198,744,73,38
10,2003,3,두산,0.276,133,5165,4536,563,1251,205,21,90,1768,541,63,52
11,2003,4,KIA,0.272,133,5127,4448,657,1211,219,16,129,1849,626,94,37
12,2003,5,SK,0.272,133,5157,4445,644,1208,209,16,156,1917,612,127,32
13,2003,6,롯데,0.256,133,4987,4465,491,1143,232,18,73,1630,451,83,28
14,2003,7,한화,0.254,133,5198,4458,577,1131,218,20,121,1752,521,102,21
15,2003,8,LG,0.249,133,4964,4375,509,1088,188,29,106,1652,485,74,40
16,2004,1,현대,0.275,133,5322,4480,692,1233,190,13,134,1851,653,111,38
17,2004,2,SK,0.272,133,5254,4499,655,1223,196,9,138,1851,626,105,35
18,2004,3,삼성,0.269,133,5170,4509,641,1215,225,9,132,1854,600,84,31
19,2004,4,한화,0.268,133,5150,4519,632,1213,245,17,140,1912,605,88,33
20,2004,5,두산,0.268,133,5109,4485,606,1200,202,19,89,1707,573,55,40
21,2004,6,KIA,0.267,133,5190,4426,643,1182,224,9,143,1853,610,82,54
22,2004,7,LG,0.259,133,5081,4432,588,1150,176,24,102,1680,554,73,40
23,2004,8,롯데,0.252,133,5075,4462,533,1125,195,21,88,1626,500,74,31
24,2005,1,한화,0.270,126,4841,4304,622,1163,211,9,159,1869,594,31,31
25,2005,2,두산,0.270,126,4922,4256,596,1147,183,17,63,1553,558,81,35
26,2005,3,SK,0.269,126,4984,4230,589,1139,174,12,122,1703,559,136,38
27,2005,4,삼성,0.268,126,4975,4234,614,1134,178,6,111,1657,575,98,34
28,2005,5,KIA,0.260,126,4848,4234,541,1102,183,13,99,1608,507,79,31
29,2005,6,LG,0.260,126,4785,4222,601,1098,189,21,105,1644,554,80,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2018,1,두산,0.309,144,5870,5176,944,1601,284,30,191,2518,898,43,63
137,2018,2,KIA,0.295,144,5744,5036,865,1487,258,22,170,2299,823,56,50
138,2018,3,LG,0.293,144,5665,5070,788,1487,299,12,148,2254,740,51,51
139,2018,4,롯데,0.289,144,5764,5130,821,1484,289,17,203,2416,792,45,37
140,2018,5,넥센,0.288,144,5780,5141,825,1481,288,19,165,2302,787,32,50
141,2018,6,삼성,0.288,144,5766,5109,776,1471,241,29,146,2208,732,57,45
142,2018,7,SK,0.281,144,5682,4992,829,1403,234,13,233,2362,791,54,34
143,2018,8,한화,0.275,144,5539,4972,729,1369,249,14,151,2099,668,31,28
144,2018,9,KT,0.275,144,5605,5026,757,1382,264,13,206,2290,721,43,26
145,2018,10,NC,0.261,144,5488,4895,660,1280,233,18,143,1978,629,35,43
146,2019,1,키움,0.282,144,5658,4991,780,1405,251,38,112,2068,741,36,48
147,2019,2,NC,0.278,144,5631,4968,674,1383,249,26,128,2068,639,64,60
148,2019,3,두산,0.278,144,5670,4913,736,1364,235,31,84,1913,691,39,83
149,2019,4,KT,0.277,144,5582,4965,650,1375,187,20,103,1911,615,45,45
150,2019,5,LG,0.267,144,5536,4928,641,1316,233,15,94,1861,604,49,48
151,2019,6,KIA,0.264,144,5505,4874,605,1286,248,19,76,1800,567,31,45
152,2019,7,SK,0.262,144,5542,4919,655,1290,218,14,117,1887,622,35,38
153,2019,8,한화,0.256,144,5482,4882,607,1250,223,16,88,1769,562,44,45
154,2019,9,삼성,0.256,144,5533,4866,622,1245,230,26,122,1893,598,58,53
155,2019,10,롯데,0.250,144,5488,4919,578,1231,214,22,90,1759,545,35,40
156,2020,1,KT,0.304,22,882,792,135,241,43,9,21,365,127,9,12
157,2020,2,두산,0.300,22,889,783,136,235,42,4,23,354,126,4,16
158,2020,3,NC,0.287,22,881,766,134,220,35,2,32,355,130,10,8
159,2020,4,LG,0.284,22,847,746,129,212,43,4,26,341,123,6,5
160,2020,5,KIA,0.275,23,914,799,109,220,41,0,21,324,104,6,8
161,2020,6,키움,0.268,23,905,790,128,212,43,4,23,332,117,2,8
162,2020,7,롯데,0.258,22,854,761,93,196,44,0,15,285,86,1,9
163,2020,8,삼성,0.250,23,867,753,117,188,44,1,20,294,111,8,12
164,2020,9,한화,0.246,23,843,761,82,187,34,1,15,268,79,6,3
165,2020,10,SK,0.239,22,842,748,90,179,26,6,17,268,84,7,6

### 타자 Basic2 데이터의 url 지정후 web page로 이동

#### 주소 불러오기

In [9]:
url2 = "https://www.koreabaseball.com/Record/Team/Hitter/Basic2.aspx"
driver.get(url2)

#### html 파싱

In [10]:
soup = BeautifulSoup(driver.page_source, 'lxml')

#### 테이블 헤더 불러오기

In [11]:
thead2 = soup.find("table", class_="tData tt").find("thead")
th_list2 = thead2.find_all("th")

col_list2 = []
col_list2.append("연도")

for th in th_list2:
    
    a_tag = th.find("a")

    if a_tag == None:
        colName = th.text

    else:
        colName = a_tag.attrs["title"]

    col_list2.append(colName)

print(col_list2)

['연도', '순위', '팀명', '타율', '볼넷', '고의4구', '사구', '삼진', '병살타', '장타율', '출루율', '출루율+장타율', '멀티히트', '득점권타율', '대타타율']

#### 테이블 내용 불러오기

In [12]:
tr_list = soup.find('div', class_='record_result').find_all('tr')

defend_list = []
for tr in tr_list:
    td_list = tr.find_all('td')
    
    t = []
    for td in td_list:
        t.append(td.text)
        
    defend_list.append(t)
print(defend_list)

[[], ['1', 'KT', '0.304', '63', '1', '6', '154', '12', '0.461', '0.355', '0.816', '22', '0.284', '0.250'], ['2', '두산', '0.300', '75', '2', '11', '134', '24', '0.452', '0.363', '0.815', '22', '0.335', '0.308'], ['3', 'NC', '0.287', '79', '4', '18', '159', '13', '0.463', '0.364', '0.827', '22', '0.316', '0.345'], ['4', 'LG', '0.284', '80', '4', '10', '144', '20', '0.457', '0.359', '0.816', '22', '0.321', '0.316'], ['5', 'KIA', '0.275', '91', '0', '10', '156', '20', '0.406', '0.354', '0.760', '23', '0.267', '0.067'], ['6', '키움', '0.268', '93', '2', '12', '170', '14', '0.420', '0.351', '0.771', '23', '0.303', '0.240'], ['7', '롯데', '0.258', '72', '0', '11', '144', '17', '0.375', '0.327', '0.702', '22', '0.220', '0.091'], ['8', '삼성', '0.250', '83', '2', '11', '154', '15', '0.390', '0.328', '0.718', '23', '0.299', '0.393'], ['9', '한화', '0.246', '62', '0', '11', '168', '25', '0.352', '0.311', '0.663', '23', '0.241', '0.067'], ['10', 'SK', '0.239', '73', '3', '8', '166', '21', '0.358', '0.311', '0.669', '22', '0.246', '0.206'], ['합계', '0.271', '771', '18', '108', '1549', '181', '0.414', '0.343', '0.757', '224', '', '']]

In [13]:
## 전체 데이터를 담을 공간
defend_list_all = []

for i in range(2,21,1):
    year = 2000 + i
    year_btn = '//*[@id="cphContents_cphContents_cphContents_ddlSeason_ddlSeason"]/option['+str(i)+']'
   
    next_year = driver.find_element_by_xpath(year_btn)
    next_year.click()
    
    time.sleep(1)
    
    soup = BeautifulSoup(driver.page_source, 'lxml')
    
    ## 테이블 헤더 + 바디
    record_result = soup.find("div", class_="record_result")
    tr_list = record_result.find("tbody").find_all("tr")
    
    ## 1년치 데이터를 담을 공간
    defend_list = []
    for tr in tr_list:
        td_list = tr.find_all("td")
        
        t = []
        t.append(year)
        for td in td_list:
            t.append(td.text)
            
        defend_list.append(t)
        
    print(str(year) + "년도 데이터 수집 끝!")    
    
    ## 전체 데이터 공간에 1년치 데이터 추가 
    defend_list_all.extend(defend_list)

2002년도 데이터 수집 끝!
2003년도 데이터 수집 끝!
2004년도 데이터 수집 끝!
2005년도 데이터 수집 끝!
2006년도 데이터 수집 끝!
2007년도 데이터 수집 끝!
2008년도 데이터 수집 끝!
2009년도 데이터 수집 끝!
2010년도 데이터 수집 끝!
2011년도 데이터 수집 끝!
2012년도 데이터 수집 끝!
2013년도 데이터 수집 끝!
2014년도 데이터 수집 끝!
2015년도 데이터 수집 끝!
2016년도 데이터 수집 끝!
2017년도 데이터 수집 끝!
2018년도 데이터 수집 끝!
2019년도 데이터 수집 끝!
2020년도 데이터 수집 끝!

In [14]:
defend_df2 = pd.DataFrame(defend_list_all, columns=col_list2)
defend_df2

,연도,순위,팀명,타율,볼넷,고의4구,사구,삼진,병살타,장타율,출루율,출루율+장타율,멀티히트,득점권타율,대타타율
0,2002,1,삼성,0.284,469,26,97,804,116,0.472,0.360,0.832,133,0.278,0.165
1,2002,2,SK,0.270,385,15,100,815,94,0.433,0.339,0.772,133,0.271,0.218
2,2002,3,KIA,0.269,454,32,91,914,107,0.402,0.344,0.746,133,0.268,0.250
3,2002,4,LG,0.261,412,29,86,951,91,0.385,0.332,0.717,133,0.258,0.178
4,2002,5,현대,0.261,464,26,99,945,82,0.432,0.342,0.774,133,0.270,0.209
5,2002,6,두산,0.261,434,17,58,794,107,0.396,0.331,0.727,133,0.255,0.266
6,2002,7,한화,0.256,446,22,49,1064,106,0.420,0.328,0.748,133,0.251,0.189
7,2002,8,롯데,0.245,324,14,78,978,75,0.355,0.305,0.660,132,0.224,0.131
8,2003,1,현대,0.286,543,23,109,727,100,0.456,0.373,0.829,133,0.272,0.208
9,2003,2,삼성,0.284,481,19,85,661,131,0.482,0.360,0.842,133,0.293,0.206
10,2003,3,두산,0.276,452,17,62,706,121,0.390,0.346,0.736,133,0.271,0.272
11,2003,4,KIA,0.272,505,18,42,721,72,0.416,0.349,0.765,131,0.284,0.226
12,2003,5,SK,0.272,464,10,89,763,87,0.431,0.350,0.781,133,0.269,0.190
13,2003,6,롯데,0.256,338,11,73,848,75,0.365,0.317,0.682,133,0.243,0.206
14,2003,7,한화,0.254,542,22,75,887,89,0.393,0.343,0.736,133,0.252,0.201
15,2003,8,LG,0.249,404,11,70,781,90,0.378,0.319,0.697,133,0.229,0.201
16,2004,1,현대,0.275,607,29,86,871,109,0.413,0.370,0.783,133,0.286,0.280
17,2004,2,SK,0.272,521,24,93,818,98,0.411,0.357,0.768,132,0.271,0.159
18,2004,3,삼성,0.269,460,22,86,704,122,0.411,0.346,0.757,131,0.268,0.160
19,2004,4,한화,0.268,456,14,54,923,107,0.423,0.340,0.763,133,0.262,0.248
20,2004,5,두산,0.268,433,12,96,780,86,0.381,0.342,0.723,132,0.268,0.218
21,2004,6,KIA,0.267,549,22,79,693,118,0.419,0.354,0.773,132,0.263,0.263
22,2004,7,LG,0.259,441,18,95,892,89,0.379,0.337,0.716,133,0.264,0.193
23,2004,8,롯데,0.252,416,15,92,853,99,0.364,0.327,0.691,132,0.248,0.146
24,2005,1,한화,0.270,400,12,75,824,121,0.434,0.341,0.775,126,0.261,0.220
25,2005,2,두산,0.270,465,14,85,701,93,0.365,0.351,0.716,126,0.275,0.164
26,2005,3,SK,0.269,495,27,85,806,88,0.403,0.355,0.758,126,0.249,0.265
27,2005,4,삼성,0.268,500,21,109,748,112,0.391,0.357,0.748,126,0.265,0.204
28,2005,5,KIA,0.260,430,24,74,718,101,0.380,0.337,0.717,125,0.240,0.191
29,2005,6,LG,0.260,349,12,93,915,72,0.389,0.327,0.716,126,0.276,0.247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2018,1,두산,0.309,496,16,92,1016,112,0.486,0.376,0.862,144,0.317,0.263
137,2018,2,KIA,0.295,503,27,99,905,135,0.457,0.367,0.824,144,0.302,0.207
138,2018,3,LG,0.293,418,14,75,1001,125,0.445,0.353,0.798,144,0.307,0.245
139,2018,4,롯데,0.289,471,22,81,1157,124,0.471,0.356,0.827,144,0.290,0.250
140,2018,5,넥센,0.288,472,25,85,1208,93,0.448,0.355,0.803,144,0.296,0.265
141,2018,6,삼성,0.288,468,14,87,1034,115,0.432,0.355,0.787,144,0.282,0.237
142,2018,7,SK,0.281,483,6,119,1079,103,0.473,0.356,0.829,144,0.288,0.241
143,2018,8,한화,0.275,420,17,88,1098,113,0.422,0.341,0.763,144,0.283,0.231
144,2018,9,KT,0.275,464,14,46,1109,103,0.456,0.340,0.796,144,0.273,0.262
145,2018,10,NC,0.261,427,15,88,1081,115,0.404,0.329,0.733,143,0.268,0.284
146,2019,1,키움,0.282,514,13,69,943,122,0.414,0.354,0.768,144,0.300,0.276
147,2019,2,NC,0.278,456,14,83,880,126,0.416,0.345,0.761,144,0.266,0.179
148,2019,3,두산,0.278,563,16,72,799,117,0.389,0.355,0.744,144,0.277,0.202
149,2019,4,KT,0.277,475,15,52,975,113,0.385,0.344,0.729,144,0.270,0.218
150,2019,5,LG,0.267,434,17,77,962,117,0.378,0.333,0.711,144,0.265,0.222
151,2019,6,KIA,0.264,497,13,58,919,108,0.369,0.336,0.705,144,0.256,0.190
152,2019,7,SK,0.262,462,20,87,966,92,0.384,0.334,0.718,144,0.278,0.252
153,2019,8,한화,0.256,441,12,70,1090,112,0.362,0.324,0.686,143,0.255,0.187
154,2019,9,삼성,0.256,478,15,78,976,107,0.389,0.329,0.718,143,0.254,0.204
155,2019,10,롯데,0.250,429,12,65,1085,108,0.358,0.316,0.674,144,0.250,0.193
156,2020,1,KT,0.304,63,1,6,154,12,0.461,0.355,0.816,22,0.284,0.250
157,2020,2,두산,0.300,75,2,11,134,24,0.452,0.363,0.815,22,0.335,0.308
158,2020,3,NC,0.287,79,4,18,159,13,0.463,0.364,0.827,22,0.316,0.345
159,2020,4,LG,0.284,80,4,10,144,20,0.457,0.359,0.816,22,0.321,0.316
160,2020,5,KIA,0.275,91,0,10,156,20,0.406,0.354,0.760,23,0.267,0.067
161,2020,6,키움,0.268,93,2,12,170,14,0.420,0.351,0.771,23,0.303,0.240
162,2020,7,롯데,0.258,72,0,11,144,17,0.375,0.327,0.702,22,0.220,0.091
163,2020,8,삼성,0.250,83,2,11,154,15,0.390,0.328,0.718,23,0.299,0.393
164,2020,9,한화,0.246,62,0,11,168,25,0.352,0.311,0.663,23,0.241,0.067
165,2020,10,SK,0.239,73,3,8,166,21,0.358,0.311,0.669,22,0.246,0.206

In [15]:
df1 = pd.merge(defend_df, defend_df2, how = 'inner')

In [16]:
df1.to_excel("타자.xlsx")

### pandas 활용한 테이블 읽어오기

In [22]:
tables = pd.read_html("https://www.koreabaseball.com/Record/Team/Hitter/Basic1.aspx")
print(tables[0])

    순위   팀명    AVG    G    PA    AB     R     H   2B  3B   HR    TB  RBI  SAC  \
0    1   KT  0.311   20   813   726   131   226   42   9   19   343  123    8
1    2   두산  0.305   20   813   718   127   219   40   4   21   330  117    3
2    3   NC  0.296   20   812   703   129   208   34   2   31   339  125   10
3    4   LG  0.288   20   772   681   117   196   40   4   23   313  113    5
4    5  KIA  0.273   21   835   728    97   199   38   0   18   291   92    6
5    6   키움  0.263   21   817   720   109   189   40   3   21   298  100    2
6    7   롯데  0.255   20   770   685    87   175   41   0   15   261   80    1
7    8   한화  0.247   21   766   696    73   172   31   1   13   244   70    5
8    9   삼성  0.244   21   791   685   103   167   42   1   17   262   98    6
9   10   SK  0.234   20   761   683    73   160   24   6   13   235   68    7
10  합계   합계  0.272  102  7950  7025  1046  1911  372  30  191  2916  986   53

    SF
0   12
1   14
2    8
3    5
4    6
5    6
6    9
7    3
8   12
9    5
10  80

In [18]:
tables[0].to_excel("2020구단_순위.xlsx", index = False)

In [28]:
table_2020 = pd.read_html("https://www.koreabaseball.com/Record/Team/Hitter/Basic2.aspx")
table_2020

[    순위   팀명    AVG   BB  IBB  HBP    SO  GDP    SLG    OBP    OPS   MH   RISP  \
 0    1   KT  0.311   61    1    6   136    9  0.472  0.364  0.836   20  0.296
 1    2   두산  0.305   67    1   11   124   21  0.460  0.367  0.827   20  0.328
 2    3   NC  0.296   75    4   16   152   12  0.482  0.373  0.855   20  0.312
 3    4   LG  0.288   71    3   10   129   18  0.460  0.361  0.821   20  0.320
 4    5  KIA  0.273   85    0   10   147   20  0.400  0.355  0.755   21  0.253
 5    6   키움  0.263   81    2    8   161   14  0.414  0.341  0.755   21  0.305
 6    7   롯데  0.255   65    0   10   134   12  0.381  0.325  0.706   20  0.222
 7    8   한화  0.247   52    0   10   153   22  0.351  0.307  0.658   21  0.237
 8    9   삼성  0.244   77    1   11   142   14  0.382  0.325  0.707   21  0.291
 9   10   SK  0.234   59    2    7   148   20  0.344  0.300  0.644   20  0.243
 10  합계   합계  0.272  693   14   99  1426  162  0.415  0.342  0.757  204    NaN

     PH-BA
 0   0.238
 1   0.273
 2   0.385
 3   0.313
 4   0.077
 5   0.208
 6   0.100
 7   0.077
 8   0.348
 9   0.219
 10    NaN  ]

In [24]:
table1 = pd.DataFrame(tables[0])
table1

,순위,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,KT,0.311,20,813,726,131,226,42,9,19,343,123,8,12
1,2,두산,0.305,20,813,718,127,219,40,4,21,330,117,3,14
2,3,NC,0.296,20,812,703,129,208,34,2,31,339,125,10,8
3,4,LG,0.288,20,772,681,117,196,40,4,23,313,113,5,5
4,5,KIA,0.273,21,835,728,97,199,38,0,18,291,92,6,6
5,6,키움,0.263,21,817,720,109,189,40,3,21,298,100,2,6
6,7,롯데,0.255,20,770,685,87,175,41,0,15,261,80,1,9
7,8,한화,0.247,21,766,696,73,172,31,1,13,244,70,5,3
8,9,삼성,0.244,21,791,685,103,167,42,1,17,262,98,6,12
9,10,SK,0.234,20,761,683,73,160,24,6,13,235,68,7,5
10,합계,합계,0.272,102,7950,7025,1046,1911,372,30,191,2916,986,53,80

In [29]:
table2 = pd.DataFrame(table_2020[0])
table2

,순위,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,KT,0.311,61,1,6,136,9,0.472,0.364,0.836,20,0.296,0.238
1,2,두산,0.305,67,1,11,124,21,0.460,0.367,0.827,20,0.328,0.273
2,3,NC,0.296,75,4,16,152,12,0.482,0.373,0.855,20,0.312,0.385
3,4,LG,0.288,71,3,10,129,18,0.460,0.361,0.821,20,0.320,0.313
4,5,KIA,0.273,85,0,10,147,20,0.400,0.355,0.755,21,0.253,0.077
5,6,키움,0.263,81,2,8,161,14,0.414,0.341,0.755,21,0.305,0.208
6,7,롯데,0.255,65,0,10,134,12,0.381,0.325,0.706,20,0.222,0.100
7,8,한화,0.247,52,0,10,153,22,0.351,0.307,0.658,21,0.237,0.077
8,9,삼성,0.244,77,1,11,142,14,0.382,0.325,0.707,21,0.291,0.348
9,10,SK,0.234,59,2,7,148,20,0.344,0.300,0.644,20,0.243,0.219
10,합계,합계,0.272,693,14,99,1426,162,0.415,0.342,0.757,204,NaN,NaN

In [30]:
pd.merge(table1,table2, how='inner')

,순위,팀명,AVG,G,PA,AB,R,H,2B,3B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,KT,0.311,20,813,726,131,226,42,9,...,1,6,136,9,0.472,0.364,0.836,20,0.296,0.238
1,2,두산,0.305,20,813,718,127,219,40,4,...,1,11,124,21,0.460,0.367,0.827,20,0.328,0.273
2,3,NC,0.296,20,812,703,129,208,34,2,...,4,16,152,12,0.482,0.373,0.855,20,0.312,0.385
3,4,LG,0.288,20,772,681,117,196,40,4,...,3,10,129,18,0.460,0.361,0.821,20,0.320,0.313
4,5,KIA,0.273,21,835,728,97,199,38,0,...,0,10,147,20,0.400,0.355,0.755,21,0.253,0.077
5,6,키움,0.263,21,817,720,109,189,40,3,...,2,8,161,14,0.414,0.341,0.755,21,0.305,0.208
6,7,롯데,0.255,20,770,685,87,175,41,0,...,0,10,134,12,0.381,0.325,0.706,20,0.222,0.100
7,8,한화,0.247,21,766,696,73,172,31,1,...,0,10,153,22,0.351,0.307,0.658,21,0.237,0.077
8,9,삼성,0.244,21,791,685,103,167,42,1,...,1,11,142,14,0.382,0.325,0.707,21,0.291,0.348
9,10,SK,0.234,20,761,683,73,160,24,6,...,2,7,148,20,0.344,0.300,0.644,20,0.243,0.219
10,합계,합계,0.272,102,7950,7025,1046,1911,372,30,...,14,99,1426,162,0.415,0.342,0.757,204,NaN,NaN